#counterButton {
  background-color: rgb(38, 207, 15);
  padding: 0;
  border: 0;
display: flex;
flex-direction: row;
font-size: 30px;
}
body{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
#counterButton:hover{
    background-color: rgb(8, 91, 146);

}
